@import '../../styles/themes/default.css';

.sidenav {
  width: 240px;
  height: 100vh;
  background-color: rgb(57, 55, 76);
  overflow-x: hidden;
  padding: 0 10px;
}

.sidenav a {
  padding: 10px;
  margin-top: 10px;
  text-decoration: none;
  font-size: 1.1rem;
  color: var(--link-color);
  display: block;
}

.sidenav a:hover {
  background-color: var(--alternate-background-color);
}
